@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
    --light-gray: #dfdfdf;
    --code-gray: #a7b4bd;
    --magenta: #da68a4;
    --sidebar: #412939;
    --off-dark-gray: #404040;
}

body {
    margin: 0;
    background-color: var(--light-gray);
    color: #000;
    font-family: "DM Mono", "Lucida Console", "Courier New", monospace;
    font-size: 1.3rem;
}

a {
    color: var(--magenta);
}

table {
    overflow-x: scroll;
    max-width: 100%;
}

th, td {
    padding: 4px 8px;
}

table, th, td {
    border: solid 1px var(--off-dark-gray);
    border-collapse: collapse;
}

.content {
    display: block;
    max-width: 800px;
    padding-left: 80px;
    padding-right: 80px;
    height: calc(100% - 35px);
    overflow-y: scroll;
    margin-left: 400px;
}

.content::-webkit-scrollbar {
    display: none;
}

code {
    background-color: var(--code-gray);
}

pre:has(code) {
    background-color: var(--code-gray);
}


@media only screen and (max-width: 1300px) {
    .content {
        margin-left: 0;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 35px;
    }
}

img {
    max-width: 800px;
}
