.sidebar {
    width: 400px;
    height: 100vh;
    min-height: min-content;
    background-color: var(--sidebar);
    color: #fff;
    position: fixed;
    overflow-y: auto;
    
    display: flex;
    flex-direction: column;
    z-index: 1;

}

.sidebar>ul {
    list-style: none;
    line-height: 2em;
}

.sidebar-top {
    padding-bottom: 12px;
    border-bottom: solid 1px var(--light-gray);
}

.sidebar-mid {
    flex-grow: 1;
    margin: 0
}

.sidebar-bottom {
    padding-top: 12px;
    border-top: solid 1px var(--light-gray);
}

@media only screen and (max-width: 1300px) {
    .sidebar {
        visibility: hidden;
        z-index: -1;
    }

}