title: Portfolio - Jakob Nacanaynay
email: jnac8080@gmail.com
description: >-
  Hello,
  I am an electrical and computer engineering (ECE) student at Cornell ('28) that does stuff and likes writing sometimes. I don't consider myself a particularly interesting person.

  I found it a bit more motivating to write my notes here than in Obsidian. I might also put some of my thoughts here from time to time.

  That's about it,
  ---
  ~ Jakob Nacanaynay
  (nack-uh-nigh-nigh)
  he/him/his

baseurl: ""
url: "" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  j-nac

plugins:
  - jekyll-seo-tag

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
