<div class="sidebar">
    <ul class="sidebar-top">
        <li>Hi I'm Jakob</li>
        <li><a href="mailto:jnac8080@gmail.com">jnac8080@gmail.com</a></li>
        <li>GitHub <a href="https://github.com/j-nac" target="_blank" rel="noopener noreferrer">j-nac</a></li>
        <li>LinkedIn <a href="www.linkedin.com/in/jakob-nacanaynay-a93706213" target="_blank" rel="noopener noreferrer">Jakob N.</a></li>
    </ul>
    <ul class="sidebar-mid">
        <li><a href="/">home</a></li>
    </ul>
    <ul class="sidebar-bottom">
        <li><a href="/blog">blog</a></li>
        <li><a href="/about">about</a></li>
    </ul>
</div>