<div class="sidebar">
    <ul class="sidebar-top">
        <li>Hi I'm Jakob</li>
        <li><a href="mailto:jnac8080@gmail.com">jnac8080@gmail.com</a></li>
        <li>Github <a href="https://github.com/j-nac" target="_blank" rel="noopener noreferrer">j-nac</a></li>
    </ul>
    <ul class="sidebar-mid">
        <li><a href="">home</a></li>
        <li><a href="">code</a></li>
        <li><a href="">journalism</a></li>
        <li><a href="">awards</a></li>
        <li><a href="">activities</a></li>
    </ul>
    <ul class="sidebar-bottom">
        <li><a href="">blog</a></li>
        <li><a href="">about</a></li>
    </ul>
</div>